@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
    font-family: "Montserrat", serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #242222;
}
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-container h1 {
    color: rgb(212, 206, 206);
}
.game-container h5 {
    color: rgb(25, 115, 199);
}
.game-container button {
    background-color: indianred;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: #242222;
}
.word-container {
    margin: 20px 0;
    font-size: 2rem;
    color: #f7f9f8;
}
.word-container span.correct {
    background-color: green;
}

.word-container span.incorrect {
    background-color: red;
}

.word-container span.remaining {
    color: white;
}
/* #input-area {
    background-color: #2b2b2b;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #f7f8f7;
    text-align: center;
    margin-top: 10px;
}

#input-area:focus {
    border-bottom: 2px solid #6df58d;
} */